{% load static %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}베이스 HTML 입니다{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="main-page-content">
        <h2>환영합니다! {{ user.username }} </h2>
        <p>여기는 블로그 메인 페이지입니다.</p>
        <!-- 블로그 입장하기 버튼 -->
        <a href="{% url 'blog_page:post_list' %}">
            <button type="button">블로그 입장하기</button>
        </a>
        
        <!-- 회원가입/로그인 버튼 추가 -->
        <div class="auth-buttons">
            <a href="{% url 'accounts:register' %}">  <!-- 회원가입 URL -->
                <button type="button">회원가입</button>
            </a>
            <a href="{% url 'accounts:login' %}">  <!-- 로그인 URL -->
                <button type="button">로그인</button>
            </a>
        </div>
    </div>
</body>
</html>

