{% load static %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}베이스 HTML 입니다{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="main-page-content">
        {% if user.is_authenticated %}
            <h2>환영합니다! {{ user.username }}</h2>
            <p>여기는 블로그 메인 페이지입니다.</p>
            <form action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">로그아웃</button>
            </form>
            
            <!-- 프로필 편집 버튼 추가 -->
            <a href="{% url 'accounts:profile_edit' %}">
                <button type="button">프로필 편집</button>
            </a>
        {% else %}
            <h2>환영합니다!</h2>
            <p>로그인 해주세요.</p>
        {% endif %}
    


        
        <!-- 블로그 입장하기 버튼 -->
        <a href="{% url 'blog_page:post_list' %}">
            <button type="button">블로그 입장하기</button>
        </a>
        
        <!-- 회원가입/로그인 버튼 추가 -->
        <div class="auth-buttons">
            <a href="{% url 'accounts:register' %}">  <!-- 회원가입 URL -->
                <button type="button">회원가입</button>
            </a>
            <a href="{% url 'accounts:login' %}">  <!-- 로그인 URL -->
                <button type="button">로그인</button>
            </a>
        </div>
    </div>
</body>
</html>


