{% extends 'base.html' %}
{% block title %}카테고리{% endblock %}

{% block content %}
<div class="container">
    <h1 class="page-title">카테고리</h1>
    <ul class="category-list">
    {% for category in categories %}
        <li class="category-item">
            <a href="{{ category.get_absolute_url }}" class="category-link">
                {{ category.name }}
            </a>
        </li>
    {% empty %}
        <li class="no-categories">카테고리가 없습니다.</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}