<div id="comment-{{ comment.id }}" class="comment">
    <p>{{ comment.content }}</p>
    <p>작성자: {{ comment.author }} | 날짜: {{ comment.created_at }}</p>
    {% if user == comment.author %}
        <button class="edit-comment" data-comment-id="{{ comment.id }}">수정</button>
        <button class="delete-comment" data-comment-id="{{ comment.id }}">삭제</button>
    {% endif %}
    <button class="reply-comment" data-comment-id="{{ comment.id }}">답글</button>

    <form class="reply-form" style="display: none;" data-parent-id="{{ comment.id }}">
        {% csrf_token %}
        <textarea name="content" required></textarea>
        <button type="submit">답글 작성</button>
    </form>

    <div class="replies">
        {% for reply in comment.replies.all %}
            {% include 'blog_page/comment.html' with comment=reply %}
        {% endfor %}
    </div>
</div>