{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p>by {{ post.author }} on {{ post.created_at }}</p>
    <div>{{ post.content }}</div>
    {% if post.file_upload %}
        <p>File: <a href="{{ post.file_upload.url }}">{{ post.get_file_name }}</a></p>
    {% endif %}
    {% if post.head_image %}
        <img src="{{ post.head_image.url }}" alt="Image for {{ post.title }}">
    {% endif %}
    
    <h3>Comments</h3>
    <ul>
        {% for comment in post.comment_set.all %}
            <li>{{ comment.author }}: {{ comment.content }} ({{ comment.created_at }})</li>
        {% endfor %}
    </ul>
{% endblock %}
